modules/youtube-comments/workflow/youtube_comments_ingestion.json
{
  "name": "YouTube Global Pulse",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return items[0].json.items.map(v => ({\n  videoId: v.id,\n  title: v.snippet.title,\n  views: Number(v.statistics.viewCount || 0)\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -176
      ],
      "id": "f189d42b-3636-407c-a487-dc6ca661362c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        -176
      ],
      "id": "318933c9-cebd-4fde-a321-2bd319311f20",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "01001f37-54d8-453d-8839-dd667ba203e0",
              "leftValue": "={{Number($json.views)}}",
              "rightValue": "=100000",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        64,
        -176
      ],
      "id": "67301891-e40c-492e-91f4-756671a0293b",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (const item of items) {\n  const threads = item.json.items || [];\n\n  for (const thread of threads) {\n    if (!thread.snippet?.topLevelComment?.snippet) continue;\n\n    const c = thread.snippet.topLevelComment.snippet;\n\n    if (!c.textDisplay) continue;\n\n    output.push({\n      json: {\n        comment_id: thread.id,\n        video_id: thread.snippet.videoId,\n        text: c.textDisplay,\n        author: c.authorDisplayName,\n        likes: c.likeCount || 0,\n        published_at: c.publishedAt,\n        region: \"PK\",\n        source: \"youtube_api\"\n      }\n    });\n  }\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -192
      ],
      "id": "b7f60145-2799-4dab-b1b7-05b263b9ec3e",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet,statistics"
            },
            {
              "name": "chart",
              "value": "mostPopular"
            },
            {
              "name": "regionCode",
              "value": "=PK"
            },
            {
              "name": "maxResults",
              "value": "25"
            },
            {
              "name": "key",
              "value": "AIzaSyC692WdCRHLaSFbWU670Fla6kMpkoKDayk"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        -176
      ],
      "id": "23c4c0a2-d3c6-49a9-8602-7a285aa19b97",
      "name": "HTTP Request for big/viral VIDEO FETCH"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/commentThreads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "videoId",
              "value": "={{$json.videoId}}"
            },
            {
              "name": "maxResults",
              "value": "20"
            },
            {
              "name": "order",
              "value": "relevance"
            },
            {
              "name": "textFormat",
              "value": "plainText"
            },
            {
              "name": "key",
              "value": "AIzaSyC692WdCRHLaSFbWU670Fla6kMpkoKDayk"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        272,
        -192
      ],
      "id": "fa575446-7bf9-440b-8d4f-94365659093d",
      "name": "HTTP Request for COMMENTS",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "youtube_comments",
          "mode": "list",
          "cachedResultName": "youtube_comments"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "comment_id": "{{$json.comment_id}}",
            "video_id": "{{$json.video_id}}",
            "text": "{{$json.text}}",
            "author": "{{$json.author}}",
            "published_at": "={{$json.published_at}}",
            "likes": "={{$json.likes}}",
            "region": "{{$json.region}}",
            "source": "{{$json.source}}"
          },
          "matchingColumns": [
            "comment_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "comment_id",
              "displayName": "comment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "video_id",
              "displayName": "video_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "author",
              "displayName": "author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "likes",
              "displayName": "likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "published_at",
              "displayName": "published_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "region",
              "displayName": "region",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        688,
        -192
      ],
      "id": "f6ebedea-ffc7-427c-bdc2-b70441f5cc61",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "2b5chn4IoQ717XfS",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request for big/viral VIDEO FETCH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request for COMMENTS",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request for big/viral VIDEO FETCH": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request for COMMENTS": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4946b348-67c8-464b-a362-ffbf0e17da94",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bdd26ab6ce677d0a048e083f0a8210fbf9cd51b51ca8f50a42682765e109fc20"
  },
  "id": "5DAY_GJ53iEv3ccWfr2bL",
  "tags": []
}